:host{
  display: block;

  ::ng-deep {
    .mat-card-header-text{
      margin: 0;
    }
  }

  mat-card{
    border: 1px solid rgba(0, 38, 51, 0.12);
  }
  mat-card-content{
    display: flex;
    flex-direction: column;
  }
}

