<footer class="footer">
  <div class="footer-logo">
    <span class="mat-small">Desenvolvido por</span>
    <span class="mat-h4"><strong>Miguel Muller</strong></span>
  </div>

  <div class="footer-copyright">
    <span class="mat-small">Desenvolvido com</span>
    <span>
      <mat-icon svgIcon="language-javascript" matTooltip="JavaScript"></mat-icon>
      <mat-icon svgIcon="language-typescript" matTooltip="TypeScript"></mat-icon>
      <mat-icon svgIcon="angular" matTooltip="Angular"></mat-icon>
      <mat-icon svgIcon="firebase" matTooltip="FireBase"></mat-icon>
    </span>
  </div>
</footer>
