mat-sidenav-container{
  position: absolute;
  top: 64px;
  bottom: 69px;
  left: 0;
  right: 0;
}

mat-sidenav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

