:host{
  display: flex;
  align-items: center;
  width: 100%;
}
.navigation{

  display: flex;
  align-items: center;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

h2{
  font-weight: 700;
  margin: 0px 15px;
}
